.sidebar {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  flex: 1;
  background-color: rgb(247, 245, 245);
  height: 100%;
}

.list li {
  font-weight: bold;
  cursor: pointer;
}

.list-item {
  margin-top: 20px;
  display: flex;
  padding: 5px;
  align-items: center;
  transition: all 0.2s ease;
  width: 85%;
  border-radius: 10px;
}

.list-item:active,
.list-item:hover {
  background-color: rgb(183, 166, 219);
}

.icon {
  margin-right: 5px;
}
